@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: interRegular;
  src: url(../assets/fonts/Inter-Regular.ttf);
}

html * {
  font-family: interRegular, sans-serif;
}


.navbar {
  background-color: #F2F4F7;
  border-bottom: 1px solid rgba(228, 228, 228, 0.9);
}

.navbar-nav{
  height: 72px;
}

.sidebar {
  border-right: 1px solid rgba(228, 228, 228, 0.9);
}

.dropdown {
  border: 1px solid rgba(228, 228, 228, 0.9);
  width: 10.5rem;
}

.dropdown-pagination {
  border: 1px solid rgba(228, 228, 228, 0.9);
  width: 5rem;
}

.search {
  border: 1px solid rgba(228, 228, 228, 0.9);
}

.image-cart {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.add-product {
  border: 1px solid rgba(228, 228, 228, 0.9);
  width: 107px;
  height: 28px;
  border-radius: 4px;
}

.pagination {
  width: 35px;
  height: 28px;
}

.button-cta {
  width: 80px;
  height: 36px;
  border-radius: 4px;
}

.button-cta.submit {
  background-color: #f7601a;
  border-radius: 4px;
  color: white;
}
