@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: interRegular;
  src: url(../assets/fonts/Inter-Regular.ttf);
}

html * {
  font-family: interRegular, sans-serif;
}

.navbar {
  background-color: #f2f4f7;
  border-bottom: 1px solid rgba(228, 228, 228, 0.9);
}

.navbar-nav {
  height: 72px;
}

.sidebar {
  border-right: 1px solid rgba(228, 228, 228, 0.9);
}

.dropdown {
  border: 1px solid rgba(228, 228, 228, 0.9);
  width: 10.5rem;
}

.dropdown-pagination {
  border: 1px solid rgba(228, 228, 228, 0.9);
  width: 5rem;
}

.search {
  border: 1px solid rgba(228, 228, 228, 0.9);
}

.image-cart {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.add-product {
  border: 1px solid rgba(228, 228, 228, 0.9);
  width: 107px;
  height: 28px;
  border-radius: 4px;
}

.pagination {
  width: 35px;
  height: 28px;
}

.button-cta {
  width: 80px;
  height: 36px;
  border-radius: 4px;
}

.button-cta-catalog {
  width: 158px;
  height: 36px;
  background-color: #f7601a;
  border-radius: 4px;
  color: white;
}

.button-cta-save {
  width: 158px;
  height: 36px;
  background-color: #f7601a;
  border-radius: 6px;
  color: white;
}

.button-cta.submit {
  background-color: #f7601a;
  border-radius: 4px;
  color: white;
}

.card-menu {
  width: 240px;
  height: 244px;
  border: 1px solid #d0d6dd;
  border-radius: 6px;
}

.card-menu:hover {
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  border: 1px solid #4b61dd;
}

.label-setting {
  width: 176px;
}

.active {
  font-weight: 600;
  color: #232933;
}

.input-form {
  width: 352px;
  height: 36px;
  border-radius: 6px;
}

.input-domain {
  width: 260px;
  border-radius: 6px 0 0 6px;
}

.input-domain-label {
  width: 92px;
  border-radius: 0 6px 6px 0;
}

.textarea {
  width: 352px;
  border-radius: 6px;
}
